section.audio-player {
  position: fixed;
  width: 100%;
  bottom: 0;
  box-shadow: 0 -5px 25px 1px rgba(0, 0, 0, 0.1);
  background: #fff;
  // padding: 15px 0;
  // padding: 1.5vh 0;
  padding: 0.75vw 0;
  // height: 10%;
  height: 4.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(300%);
  transition: transform 0.2s;
  z-index: 50;

  &.show {
    transform: translateY(0%);
  }

  & .player-container {
    display: flex;
    align-items: center;
    // justify-content: space-between;
    margin: 0 auto;
    width: 90%;
    height: 100%;

    & .audio-song-info {
      display: flex;
      align-items: center;
      height: 100%;
      width: 20%;

      // & img {
      //   border-radius: 5px;
      //   // width: 50px;
      //   height: 100%;
      // }

      & .audio-song-cover {
        // height: 100%;
        // width: auto;
        border-radius: 5px;
        background-color: #a7a7a7;
        // background: url('./assets/images/cover-placeholder.jpg') center
        //   center/cover no-repeat;
        // width: 17%;
        // width: 7vh;
        width: 3vw;
        height: 3vw;
      }

      & .audio-song-name {
        margin-left: calc(0.5vw + 0.5rem);
        // width: 50%;

        & h3 {
          font-size: calc(0.5vw + 0.5rem);
        }

        & h4 {
          color: $secondary-color-light;
          font-size: calc(0.4vw + 0.5rem);
        }
      }
    }

    & .controls {
      display: flex;
      align-items: center;
      justify-content: space-between;
      // width: 125px;
      // width: auto;
      // margin: 0 4% 0 2.5%;
      // margin: 0 5%;
      margin-left: 5%;
      height: 100%;
      width: 8%;

      & button {
        &.previous-btn img,
        &.next-btn img {
          // width: 18px;
          width: 1.25vw;
          // margin-left: 25px;
        }

        &.previous-btn img {
          margin-left: 0;
        }

        &.play-btn {
          // background-color: $primary-color-light;
          width: auto;
          height: auto;
          border-radius: 50%;
          position: relative;

          & i.fas {
            // position: absolute;
            // top: 50%;
            // left: 52.5%;
            // transform: translate(-50%, -50%);
            // color: #fff;
            color: $primary-color-light;
            font-size: calc(2vw + 0.5rem);
          }
        }

        // &.play-btn img {
        //   width: 2.25vw;
        // }
      }
    }

    & .progress-bar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 40%;
      margin: 0 6%;
      // margin-left: 60px;
      // background: orange;

      & h3 {
        // font-size: 14px;
        font-size: calc(0.4vw + 0.5rem);
      }

      & .progress-container {
        width: 90%;
        background-color: #ababab;
        height: 0.35vw;
        border-radius: 5px;
        margin: 0 3.5%;
        position: relative;
        cursor: pointer;

        & .progress {
          width: 0%;
          background-color: $primary-color-light;
          box-shadow: 0 0 1px $primary-color-light;
          height: 100%;
          border-radius: 5px;
          position: relative;
          transition: width 0.1s linear;
        }
      }
    }

    & .options {
      margin-left: auto;
      width: 15%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      // margin: 0;

      & button:first-of-type img {
        // height: 3vh;
        height: 1.5vw;
      }

      & button:last-of-type img {
        // height: 2.5vh;
        height: 1.25vw;
      }

      & .volume-progress-container {
        width: 55%;
        background-color: #ababab;
        // height: 5px;
        height: 0.35vw;
        border-radius: 5px;
        cursor: pointer;

        & .volume-progress {
          width: 100%;
          background-color: $primary-color-light;
          box-shadow: 0 0 1px $primary-color-light;
          height: 100%;
          border-radius: 5px;
        }
      }
    }
  }
}

// @media only screen and (max-width: 1024px) {
//   section.audio-player {
//     padding: 1vw 0;
//     height: 6vw !important;
//   }

//   section.audio-player .audio-song-cover {
//     width: 4.25vw !important;
//     height: 4.25vw !important;
//   }

//   section.audio-player .controls {
//     width: 10% !important;
//     margin-left: 3% !important;

//     & button.previous-btn img,
//     & button.next-btn img {
//       width: 1.75vw !important;
//     }

//     & button.play-btn {
//       height: 3vw !important;
//       width: 3vw !important;
//     }
//   }

//   section.audio-player .progress-container,
//   section.audio-player .volume-progress-container {
//     height: 0.375vw !important;
//   }

//   section.audio-player .options {
//     width: 17.5% !important;

//     & button:first-of-type img {
//       height: 2vw !important;
//     }

//     & button:last-of-type img {
//       height: 1.5vw !important;
//     }
//   }
// }

@media only screen and (max-width: 768px) {
  section.audio-player {
    padding: 0 !important;
    // height: 10vh !important;
    height: 4.75em !important;

    & .player-container {
      justify-content: space-between;
    }
  }

  section.audio-player .audio-song-info {
    width: 80% !important;

    & .audio-song-cover {
      width: 3.25em !important;
      height: 3.25em !important;
    }

    & .audio-song-name {
      margin-left: calc(2vw + 0.5rem) !important;
    }

    & .audio-song-name h3 {
      font-size: calc(1.75vw + 0.5rem) !important;
      margin-bottom: 0.15em;
    }

    & .audio-song-name h4 {
      font-size: calc(1.5vw + 0.5rem) !important;
    }
  }

  section.audio-player .controls {
    width: 20% !important;
    margin-left: 0 !important;
    position: relative;
    // display: flex;
    // justify-content: center;
    // align-items: center;
  }

  section.audio-player .controls .previous-btn,
  section.audio-player .controls .next-btn {
    display: none;
  }

  section.audio-player .controls .play-btn {
    // width: 100% !important;
    // text-align: end !important; // delete chance 70%
    // margin-right: 0 !important;
    position: absolute !important;
    right: 0 !important;
    height: auto !important;
    width: auto !important;

    & i.fas {
      // top: 51% !important;
      font-size: 3.9em !important;
    }
  }

  // section.audio-player .controls .play-btn img {
  //   width: 3.5em !important;
  // }

  section.audio-player .progress-bar,
  section.audio-player .options {
    display: none !important;
  }
}
