section.content {
  background-color: #fbfbfb;
  width: 80%;
  font-size: 1rem;
  // min-height: 140vh;
  min-height: 100vh;
}

@media only screen and (max-width: 768px) {
  section.content {
    width: 100%;
    // margin-top: 7.5vh;
    // margin-top: 3.5em;
    margin-top: 15vw;
    padding-bottom: 5vw;
    // min-height: 130vh;
  }
}
