main.home-main {
  display: block;
}

main.home-main .discover {
  max-width: 92%;
  margin: 0 auto;

  & h2 {
    // margin-top: 1em;
    margin-top: 1.85vw;
    // font-size: calc(1vw + 0.5rem);
    font-size: calc(1.5vw + 0.1rem);
  }

  & .preview-container {
    margin-top: 0.9em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // overflow-x: auto;
    // overflow-y: hidden;
    // white-space: nowrap;
    // overflow-y: hidden;
    // width: 100%;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    & .song-container {
      width: 18%;
      transition: transform 0.2s;
      cursor: pointer;

      &:hover {
        transform: scale(1.025);
      }

      &:last-of-type {
        margin-right: 0;
      }

      & .song-cover {
        width: 100%;
        border-radius: 5px;
        position: relative;

        & img {
          width: 100%;
          border-radius: 5px;
        }

        &::before {
          content: '';
          position: absolute;
          opacity: 0;
          height: 25%;
          width: 25%;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background: url('../icons/video-play-cover.svg') center center/cover
            no-repeat;
          border-radius: 50%;
          transition: opacity 0.2s;
          z-index: 10;
        }

        &::after {
          content: '';
          position: absolute;
          opacity: 0;
          top: 0;
          left: 0;
          right: 0;
          bottom: 2%;
          background-color: rgba(0, 0, 0, 0.25);
          border-radius: 5px;
          transition: opacity 0.2s;
          z-index: 5;
        }

        &:hover::after,
        &:hover::before {
          opacity: 1;
        }
      }

      & h3 {
        // font-size: calc(0.55vw + 0.5rem);
        font-size: calc(0.95vw + 0.1rem);
        margin-top: 0.33em;
      }

      & h4 {
        // font-size: calc(0.4vw + 0.5rem);
        font-size: calc(0.85vw + 0.1rem);
        color: $secondary-color-light;
      }
    }
  }
}

main.home-main .popular-media {
  max-width: 92%;
  margin: 2.5em auto 0;
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 768px) {
  main.home-main .discover {
    width: 90%;
  }

  main.home-main .discover h2 {
    // font-size: calc(2.75vw + 0.5rem);
    font-size: calc(4.5vw + 0.1rem);
    margin-top: 1.5em;
    font-weight: 600;
    letter-spacing: 0.1vw;
  }

  main.home-main .discover .preview-container {
    display: block;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    margin-top: 0.9em;
  }

  main.home-main .song-container {
    // width: 37.5% !important;
    width: 40% !important;
    display: inline-block;
    // margin-right: 2%;
    margin-right: 2.5%;

    & h3 {
      // font-size: calc(1.5vw + 0.5rem) !important;
      font-size: calc(3.25vw + 0.1rem) !important;
    }

    & h4 {
      // font-size: calc(1vw + 0.5rem) !important;
      font-size: calc(2.75vw + 0.1rem) !important;
    }

    &:hover {
      transform: none !important;
    }
  }

  main.home-main .popular-media {
    // margin: 1.5em auto 0;
    margin: 0 auto;
    // margin: 5em auto 0;
    flex-direction: column;
    width: 90%;
  }
}
