main.fav-songs-main {
  width: 92%;
  margin: 1.85em auto 0;
}

main.fav-songs-main .flex {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;

  & .grid-nav {
    font-size: calc(0.5vw + 0.5rem);
    color: #595959;
    display: grid;
    grid-template-columns: 1fr 15fr 15fr 15fr 15fr 1fr;
  }

  & .grid-nav:hover {
    cursor: default;
  }

  & .grid-content {
    font-size: calc(0.375vw + 0.5rem);
    margin-top: 0.45em;

    & .fav-song {
      display: grid;
      grid-template-columns: 1fr 15fr 15fr 15fr 15fr 1fr;
      transition: color 0.2s;
      padding: 0.4em 0;
    }

    & .fav-song:hover {
      color: $primary-color-light;
      cursor: pointer;
    }

    & .fav-song.active {
      color: $primary-color-light;
    }

    & .fav-song button img {
      width: 1vw;
    }
  }
}

@media screen and (max-width: 1024px) {
  main.fav-songs-main .flex .grid-content .fav-song button img {
    width: 1.25vw;
  }
}

@media screen and (max-width: 768px) {
  main.fav-songs-main .flex .grid-nav {
    font-size: calc(0.4vw + 0.5rem);
  }

  main.fav-songs-main .flex .grid-content {
    font-size: calc(0.15vw + 0.5rem);

    & .fav-song button img {
      width: 1.25vw;
    }
  }
}
