main.fav-songs-main {
  width: 92%;
  // margin: 1.85em auto 0;
  margin: 1.85vw auto 0;
  display: none;
}

main.fav-songs-main h2 {
  display: none;
}

main.fav-songs-main .flex {
  width: 100%;
  display: flex;
  flex-direction: column;

  & .grid-nav {
    // font-size: calc(0.5vw + 0.5rem);
    font-size: calc(1vw + 0.1rem);
    color: #595959;
    display: grid;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    & h3:not(:first-of-type) {
      width: 22.5%;
      // background: coral;
    }

    & h3:nth-child(5) {
      // width: 7.75%;
      width: 10.25%;
      // background: coral;
    }

    & h3:first-of-type {
      // width: 5%;
      width: 4.25%;
      // background: coral;
    }

    & h3:last-of-type {
      // width: 5%;
      // width: 1.5%;
      width: 2.5%;
      // background: coral;
    }
  }

  & .grid-nav:hover {
    cursor: default;
  }

  & .grid-content {
    // font-size: calc(0.375vw + 0.5rem);
    font-size: calc(0.8vw + 0.1rem);
    margin-top: 0.5em;

    & .fav-song {
      transition: color 0.2s;
      padding: 0.5em 0;
      display: flex;
      justify-content: space-between;
      width: 100%;
      cursor: pointer;

      & h3:not(:first-of-type) {
        width: 22.5%;
        // background: coral;
        // margin-left: 5%;
      }

      & h3:last-of-type {
        // background: coral;
        // margin-right: 4%;
        // width: 7.75%;
        width: 10.25%;
        // text-align: end;
      }

      & h3:first-of-type {
        // background: coral;
        width: 4.25%;
        // margin-right: 4.5%;
      }

      // & h3:nth-of-type(3),
      // & h3:nth-of-type(4),
      // & h3:nth-of-type(5) {
      //   margin-left: 4%;
      // }

      & button {
        // background: coral;

        width: 2.5%;
        // background: coral;
        // text-align: end;
        // margin-left: auto;
      }
    }

    & .fav-song:hover {
      color: $primary-color-light;
    }

    & .fav-song.active {
      color: $primary-color-light;
    }

    & .fav-song span {
      display: none;
    }

    & .fav-song button img {
      width: 1vw;
    }
  }
}

@media screen and (max-width: 1024px) {
  main.fav-songs-main .flex .grid-content .fav-song button img {
    width: 1.25vw;
  }
}

@media screen and (max-width: 768px) {
  main.fav-songs-main {
    width: 90%;
    margin: 0 auto;
  }

  main.fav-songs-main h2 {
    display: block;
    margin-top: 1em;
    // font-size: calc(2.75vw + 0.5rem);
    font-size: calc(4.5vw + 0.1rem);
    font-weight: 600;
    letter-spacing: 0.1vw;
  }

  main.fav-songs-main .flex .grid-nav {
    display: none;
  }

  main.fav-songs-main .flex .grid-content {
    margin-top: 0.6em;
  }

  main.fav-songs-main .flex .fav-song {
    // font-size: calc(1.75vw + 0.5rem);
    font-size: calc(3.4vw + 0.1rem);
    width: 100%;
    display: flex !important;
    align-items: center;
    // padding: 1.5em 0 !important;
    // padding: 0 !important;
    padding: 1em 0.4em !important;
    // white-space: nowrap;

    border-radius: 0 !important;
    border-bottom: 2px solid $primary-color-light;
    // margin-bottom: 0.4em !important;

    // &:hover {
    //   color: initial !important;
    // }
  }

  main.fav-songs-main .flex .fav-song h3:nth-of-type(1) {
    // font-size: calc(1.5vw + 0.5rem);
    font-size: calc(3.25vw + 0.1rem);
    // padding: 0 0.5em;
    margin-right: 0.4em !important;
    width: auto !important;
  }

  main.fav-songs-main .flex .fav-song h3:nth-of-type(2) {
    // font-size: calc(1.5vw + 0.5rem);
    font-size: calc(3.25vw + 0.1rem);
    width: auto !important;
  }

  main.fav-songs-main .flex .fav-song h3:nth-of-type(3) {
    // font-size: calc(1.5vw + 0.5rem);
    font-size: calc(3.25vw + 0.1rem);
    width: auto !important;
  }

  main.fav-songs-main .flex .fav-song h3:nth-of-type(4),
  main.fav-songs-main .flex .fav-song h3:nth-of-type(5) {
    display: none;
  }

  main.fav-songs-main .flex .fav-song span {
    width: auto !important;
    display: block !important;
    // font-size: calc(1.5vw + 0.5rem);
    font-size: calc(3.25vw + 0.1rem);
    margin: 0 0.25em;
  }

  main.fav-songs-main .flex .fav-song button {
    width: auto !important;
    margin-left: auto;
    // margin-right: 0.5em;

    & img {
      // width: calc(1.5vw + 0.5rem) !important;
      width: calc(3.25vw + 0.1rem) !important;
    }
  }

  // OLD STYLES
  // main.fav-songs-main .flex .grid-nav {
  //   font-size: calc(0.4vw + 0.5rem);
  // }

  // main.fav-songs-main .flex .grid-content {
  //   font-size: calc(0.15vw + 0.5rem);

  //   & .fav-song button img {
  //     width: 1.25vw;
  //   }
  // }
}
