header {
  width: 92%;
  margin: 1.25em auto 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  & .search-container {
    position: relative;
    width: 25%;

    & input[type='text'] {
      padding: 0.625em 3.125em;
      border: 2px solid #ececec;
      border-radius: 5px;
      width: 100%;
      font-size: calc(0.3vw + 0.5rem);
      color: #a8a8a8;
      transition: border 0.2s;
      -webkit-appearance: none;
    }

    & input[type='text']:focus {
      outline: none;
      border: 2px solid lighten($primary-color-light, 20%);
      box-shadow: 0 0 1px 0 lighten($primary-color-light, 20%);
    }

    & input[type='text']::placeholder {
      color: #a8a8a8;
      opacity: 1;
    }

    & input[type='text']::-ms-input-placeholder {
      color: #a8a8a8;
    }

    & > img {
      position: absolute;
      top: 50%;
      left: calc(0.5vw + 0.5rem);
      width: calc(0.35vw + 0.5rem);
      transform: translateY(-50%);
    }

    & button {
      display: none;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  & .settings {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 12.5%;

    & button img {
      width: calc(0.75vw + 0.5rem);
    }

    & button.user {
      & img {
        width: calc(2vw + 0.5rem);
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  header .search-container input[type='text'] {
    padding: 0.5em 3.125em;
  }
}

@media screen and (max-width: 768px) {
  header {
    position: fixed;
    display: none;
    // top: 7.5vh;
    top: 3.5em;
    width: 100%;
    margin: 0;
    background: #fff;
    z-index: 10;

    & .search-container {
      margin: 0 auto 1.25em;
      width: 90%;

      & input[type='text'] {
        font-size: calc(0.75vw + 0.5rem);
        padding: 0.75em 3.1em;
      }

      & > img {
        left: calc(1.25vw + 0.5rem);
        width: calc(1vw + 0.5rem);
        transform: translateY(-50%);
      }

      & button {
        display: block;
        right: calc(1.25vw + 0.5rem);
        width: calc(0.5vw + 0.5rem);
      }
    }

    & .settings {
      display: none;
    }
  }

  // header.show {
  //   display: block;
  // }

  // header.hide {
  //   display: none;
  // }

  // OLD STYLES
  // header .settings {
  //   width: 15%;
  // }

  // header .search-container {
  //   width: 30%;

  //   & input[type='text'] {
  //     padding: 0.5em 3.125em;
  //   }
  // }
}
