// main.home-main {
//   background-color: #fdfdfd;
//   width: 80%;
//   padding-bottom: 400px; // don't forget to delete
//   font-size: 1rem;
// }

// main.home-main .header {
//   max-width: 92%;
//   // margin: 20px auto 0;
//   margin: 1.25em auto 0;
//   display: flex;
//   align-items: center;
//   justify-content: space-between;

//   & .search-container {
//     position: relative;
//     width: 25%;

//     & input[type='text'] {
//       // padding: 10px 50px;
//       padding: 0.625em 3.125em;
//       border: 2px solid #ececec;
//       border-radius: 5px;
//       width: 100%;
//       // font-size: 12px;
//       font-size: calc(0.3vw + 0.5rem);
//       color: #a8a8a8;
//       transition: border 0.2s;
//       -webkit-appearance: none;
//     }

//     & input[type='text']:focus {
//       outline: none;
//       border: 2px solid lighten($primary-color-light, 20%);
//       box-shadow: 0 0 1px 0 lighten($primary-color-light, 20%);
//     }

//     & input[type='text']::placeholder {
//       color: #a8a8a8;
//       opacity: 1;
//     }

//     & input[type='text']::-ms-input-placeholder {
//       color: #a8a8a8;
//     }

//     & img {
//       position: absolute;
//       top: 50%;
//       // left: 20px;
//       // left: 1.25em;
//       left: calc(0.5vw + 0.5rem);
//       transform: translateY(-50%);
//       width: calc(0.35vw + 0.5rem);
//     }
//   }

//   & .settings {
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     width: 12.5%;

//     & button img {
//       // width: 20px;
//       // width: 1.25em;
//       width: calc(0.75vw + 0.5rem);
//     }

//     & button.user {
//       & img {
//         // width: 45px;
//         width: calc(2vw + 0.5rem);
//       }
//     }
//   }
// }

main.home-main .discover {
  max-width: 92%;
  margin: 0 auto;

  & h2 {
    // margin-top: 32px;
    margin-top: 1em;
    // font-size: 24px;
    font-size: calc(1vw + 0.5rem);
    color: #333;
  }

  & .preview-container {
    // margin-top: 15px;
    margin-top: 0.9em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // overflow-x: auto;
    // overflow-y: hidden;
    // white-space: nowrap;
    overflow: hidden;
    // width: 100%;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    & .song-container {
      // display: inline-block;
      width: 18%;
      // margin-right: 2%;

      &:last-of-type {
        margin-right: 0;
      }

      & .song-cover {
        cursor: pointer;
        width: 100%;
        border-radius: 5px;
        position: relative;

        & img {
          width: 100%;
          border-radius: 5px;
        }

        &::before {
          content: '';
          position: absolute;
          opacity: 0;
          height: 25%;
          width: 25%;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background: url('../icons/video-play-cover.svg') center center/cover
            no-repeat;
          border-radius: 50%;
          transition: opacity 0.2s;
          z-index: 10;
        }

        &::after {
          content: '';
          position: absolute;
          opacity: 0;
          top: 0;
          left: 0;
          right: 0;
          bottom: 2%;
          background-color: rgba(0, 0, 0, 0.25);
          border-radius: 5px;
          transition: opacity 0.2s;
          z-index: 5;
        }

        &:hover::after,
        &:hover::before {
          opacity: 1;
        }
      }

      // &:nth-child(1) > .song-cover {
      //   background: url('../images/OneRepublic - Rescue Me.jpg') center
      //     center/cover no-repeat;
      // }

      // &:nth-child(2) > .song-cover {
      //   background: url('../images/Taylor Swift - ME! (feat. Brendon Urie).jpg')
      //     center center/cover no-repeat;
      // }

      // &:nth-child(3) > .song-cover {
      //   background: url('../images/Miike Snow - Genghis Khan.jpg') center
      //     center/cover no-repeat;
      // }
      // &:nth-child(4) > .song-cover {
      //   background: url('../images/The Weeknd - Blinding Lights.jpg') center
      //     center/cover no-repeat;
      // }
      // &:nth-child(5) > .song-cover {
      //   background: url('../images/The Chain Gang of 1974 - Bends ft. TWINKIDS.jpg')
      //     center center/cover no-repeat;
      // }

      & h3 {
        // font-size: 17px;
        font-size: calc(0.55vw + 0.5rem);
        // margin-top: 5px;
        margin-top: 0.33em;
        color: #333;
      }

      & h4 {
        // font-size: 15px;
        font-size: calc(0.4vw + 0.5rem);
        color: $secondary-color-light;
      }
    }
  }
}

main.home-main .popular-media {
  max-width: 92%;
  // margin: 40px auto 0;
  margin: 2.5em auto 0;
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 768px) {
  main.home-main .discover h2 {
    font-size: calc(2.75vw + 0.5rem);
    font-weight: 600;
    letter-spacing: 0.1vw;
  }

  main.home-main .discover .preview-container {
    display: block;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
  }

  main.home-main .song-container {
    width: 35% !important;
    display: inline-block;
    margin-right: 2%;

    & h3 {
      font-size: calc(1.5vw + 0.5rem) !important;
    }

    & h4 {
      font-size: calc(1vw + 0.5rem) !important;
    }
  }

  main.home-main .popular-media {
    margin: 1.5em auto 0;
    flex-direction: column;
  }
}
