aside {
  background-color: #fff;
  width: 20%;
  font-size: 1rem;

  & .aside-container {
    position: sticky;
    top: 0;
    left: 0;
  }

  & .aside-container > h1 {
    display: inline-block;
    text-decoration: none;
    font-size: calc(0.75vw + 0.5rem);
    margin: 1.25em 0 3.5em 3em;
    color: $primary-color-light;
    letter-spacing: 0.2em;
    font-weight: 600;
    cursor: default;
  }

  & .main-nav {
    width: 100%;
  }

  & .main-nav ul,
  & .my-music-nav ul {
    list-style-type: none;
  }

  & .main-nav li,
  & .my-music-nav li {
    font-size: calc(0.4vw + 0.5rem);
    font-weight: 400;
    padding: 0.45em 0 0.45em 3.5em;
    border-left: 0.3em solid #fff;
    margin-bottom: 0.33em;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
    cursor: pointer;
  }

  & .main-nav li:hover,
  & .my-music-nav li:hover {
    border-left: 0.3em solid $primary-color-light;
  }

  & .main-nav li.active,
  & .my-music-nav li.active {
    border-left: 0.3em solid $primary-color-light;
    background: linear-gradient(90deg, rgba(84, 152, 255, 0.05), transparent);
  }

  & .main-nav li h3,
  & .my-music-nav li h3 {
    margin-left: 0.875em;
  }

  & .main-nav img,
  & .my-music-nav img {
    width: 1em;
    height: 1em;
  }

  & h2 {
    // font-size: 1.125em;
    font-size: calc(0.45vw + 0.5rem);
    color: #646464;
    margin-left: 3.75em;
    margin-top: 2.5em;
    cursor: default;
  }

  & .my-music-nav {
    margin-top: 0.95em;
  }

  & .search-icon {
    display: none;
  }

  & .menu-icon {
    display: none;
  }
}

// @media only screen and (max-width: 1024px) {
//   aside .aside-container > h1 {
//     font-size: calc(0.2vw + 0.5rem);
//     margin: 2.5em 0 5em 3.75em;
//   }

//   aside .main-nav li,
//   aside .my-music-nav li {
//     font-size: calc(0.3vw + 0.5rem);
//     padding: 0.45em 0 0.45em 3em;
//   }

//   aside h2 {
//     font-size: calc(0.4vw + 0.5rem);
//     margin-left: 3em;
//     margin-top: 2.5em;
//   }

//   aside .my-music-nav {
//     margin-top: 0.5em;
//   }
// }

// Mobile Phones
@media only screen and (max-width: 768px) {
  aside {
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    width: 100%;
    // height: 7.5vh;
    height: 3.5em;
    z-index: 10;
    // background: lightblue;
  }

  aside .aside-container {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  aside .search-icon,
  aside .menu-icon {
    display: block;
  }

  aside .aside-container > h1 {
    font-size: calc(1.5vw + 0.5rem);
    margin: 0;
  }

  aside nav {
    display: none;
    position: fixed;
    // top: 7.5vh;
    top: 3.5em;
    left: 0;
    width: 100%;
    background: #fff;
    z-index: 10;
    padding: 0 0 1.25em;
  }

  // aside nav.show {
  //   display: block;
  // }

  // aside nav.hide {
  //   display: none;
  // }

  aside .main-nav,
  aside .my-music-nav {
    width: 90%;
    // background: lightblue;
    margin: 0 auto;
    text-align: center;
  }

  aside .main-nav li,
  aside .my-music-nav li {
    display: block;
    font-size: calc(1.25vw + 0.5rem);
    width: 100%;
    padding: 0.75em 0;
    margin: 0;
    border-left: none;
    border-bottom: 2px solid $primary-color-light;
    cursor: pointer;

    & h3 {
      margin: 0;
    }

    & img {
      display: none;
    }
  }

  aside .main-nav li:hover,
  aside .my-music-nav li:hover {
    border-left: none;
  }

  aside .main-nav li.active,
  aside .my-music-nav li.active {
    border-left: none;
    background: #fff;
    // background: rgba(84, 152, 255, 0.05);
    // color: #fff;
    // background-color: $primary-color-light;
  }

  aside h2 {
    display: none;
  }

  aside .my-music-nav {
    margin-top: 0;

    & img {
      display: none;
    }
  }
}
