.popular-media .top-hits {
  width: 45%;
  font-size: 1rem;

  & h2 {
    // font-size: 24px;
    font-size: calc(1vw + 0.5rem);
    // color: #333;
  }

  & .top-hits-container {
    // margin-top: 15px;
    margin-top: 0.9em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & .top-hit {
      cursor: pointer;
      width: 100%;
      display: flex;
      align-items: center;
      // padding: 10px 20px;
      // padding: 0.625em 1.25em;
      padding: 0.525em 1.125em;
      border-radius: 5px;
      background: transparent;
      transition: background 0.2s;

      &:hover {
        background: #f4f4f4;
      }

      & span {
        // padding-right: 20px;
        padding-right: 1.25em;
        font-size: calc(0.4vw + 0.5rem);
      }

      & .song-info p:first-child {
        // font-size: 16px;
        font-size: calc(0.45vw + 0.5rem);
        // color: #333;
      }

      & .song-info p:last-child {
        // font-size: 14px;
        font-size: calc(0.3vw + 0.5rem);
        color: $secondary-color-light;
      }

      & button {
        margin-left: auto;

        & img {
          // width: 18px;
          // width: 1.25em;
          width: calc(0.5vw + 0.5rem);
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .popular-media .top-hits {
    margin-top: 0.9em;
    width: 100%;
  }

  .popular-media .top-hits h2 {
    font-size: calc(2.75vw + 0.5rem);
    font-weight: 600;
    letter-spacing: 0.1vw;
  }

  .popular-media .top-hits .top-hits-container {
    margin-top: 0.6em;
    // margin-top: 0;
  }

  .popular-media .top-hits .top-hit {
    // padding: 0.5em 0.5em !important;
    // padding: 0.75em 0.5em !important;
    padding: 1.25em 0.5em !important;
    // background: coral !important;
    border-radius: 0 !important;
    border-bottom: 2px solid $primary-color-light;
    // margin-bottom: 0.4em;
    transition: color 0.2s !important;

    &:hover {
      background: transparent !important;
      color: $primary-color-light;
    }

    & span {
      padding-right: 0.5em !important;
      font-size: calc(1.5vw + 0.5rem) !important;
    }

    & .song-info p:first-child {
      font-size: calc(1.5vw + 0.5rem) !important;
    }

    & .song-info p:last-child {
      display: none;
    }

    & button img {
      width: calc(1.5vw + 0.5rem) !important;
    }
  }
}
