.popular-media .top-hits {
  width: 45%;
  font-size: 1rem;

  & h2 {
    // font-size: calc(1vw + 0.5rem);
    font-size: calc(1.5vw + 0.1rem);
  }

  & .top-hits-container {
    margin-top: 0.9em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 6vw;

    & .top-hit {
      font-size: calc(0.9vw + 0.1rem);
      width: 100%;
      display: flex;
      align-items: center;
      padding: 0.525em 1.125em;
      border-radius: 5px;
      background-color: transparent;
      transition: background 0.2s;
      cursor: pointer;

      &.active {
        background-color: #f4f4f4;
      }

      &:hover {
        background-color: #f4f4f4;
      }

      & span {
        // padding-right: 1.25em;
        padding-right: 1em;
        // font-size: calc(0.4vw + 0.5rem);
        font-size: calc(0.9vw + 0.1rem);
      }

      // & .song-info p:first-child {
      //   // font-size: calc(0.45vw + 0.5rem);
      //   // font-size: calc(0.9vw + 0.1rem);
      // }

      & .song-info p:last-child {
        // font-size: calc(0.3vw + 0.5rem);
        font-size: calc(0.75vw + 0.1rem);
        color: $secondary-color-light;
      }

      & button {
        margin-left: auto;

        & img {
          // width: calc(0.5vw + 0.5rem);
          width: calc(0.95vw + 0.1rem);
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .popular-media .top-hits {
    // margin-top: 0.9em;
    // margin-top: 1em;
    width: 100%;
  }

  .popular-media .top-hits h2 {
    // font-size: calc(2.75vw + 0.5rem);
    font-size: calc(4.5vw + 0.1rem);
    margin-top: 1.75em;
    font-weight: 600;
    letter-spacing: 0.1vw;
  }

  .popular-media .top-hits .top-hits-container {
    margin-top: 0.3em;
    // margin-top: 0;
  }

  .popular-media .top-hits .top-hit {
    // font-size: calc(1.75vw + 0.5rem);
    font-size: calc(3.4vw + 0.1rem) !important;
    padding: 1em 0.4em !important;
    border-radius: 0 !important;
    border-bottom: 2px solid $primary-color-light;
    transition: color 0.2s !important;

    &.active {
      background-color: transparent !important;
      color: $primary-color-light;
    }

    &:hover {
      background-color: transparent !important;
      color: $primary-color-light;
    }

    & span {
      margin-right: 0.4em !important;
      padding: 0 !important;
      // font-size: calc(1.5vw + 0.5rem) !important;
      font-size: calc(3.25vw + 0.1rem) !important;
    }

    & .song-info p:first-child {
      // font-size: calc(1.5vw + 0.5rem) !important;
      font-size: calc(3.25vw + 0.1rem) !important;
    }

    & .song-info p:last-child {
      display: none;
    }

    & button img {
      // width: calc(1.5vw + 0.5rem) !important;
      width: calc(3.25vw + 0.1rem) !important;
    }
  }
}
