// Light Mode
$primary-color-light: #0066ff;
$secondary-color-light: #595959;
$progress-color-light: #ababab;

// Dark Mode
$primary-color-dark: #ff6b00;
$secondary-color-dark: #8b8b8b;
$text-color-dark: #f6f6f6;
