// Light Mode
// $primary-color-light: #0066ff;
// $primary-color-light: #3d51fa;
$primary-color-light: #e21c5e;
$secondary-color-light: #595959;
$progress-color-light: #ababab;

// New Theme
// $text-primary-color: #87888b;
$text-primary-color: #bebfc3;
// $text-secondary-color: #646464;
$text-secondary-color: #87888b;
$box-color: #25262c;

// Dark Mode
$primary-color-dark: #ff6b00;
$secondary-color-dark: #8b8b8b;
$text-color-dark: #f6f6f6;
